{% extends 'base.html.twig' %}

{% block title %}Hello MessagerieController!{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('messagerie_index') }}
{% endblock %}

{% block body %}
    <div class="container">

        <div class="left-menu conversations">
        {% for conversation in app.user.conversations %}
            <div class="conversation-card" data-conversation-id={{ conversation.id }} data-url="{{ path('messagerie_conversation', {'conversation': conversation.id}) }}" data-url-message="{{ path('messagerie_conversation_ajout_message', {'conversation': conversation.id}) }}">
                <h4>{{conversation.titre}}</h4>
            </div>
        {% endfor %}
        </div>

        <div id="current-conversation">


            <div id="messages-window">
                <div id="titre-conversation">Un titre</div>

                <div id="messages">
                    <div class="message left">voici un message</div>
                    <div class="message left">voici un message</div>
                    <div class="message right">voici un message</div>
                    <div class="message right">voici un message</div>
                    <div class="message left">voici un message</div>
                    <div class="message left">voici un message</div>
                    <div class="message left">voici un message</div>
                    <div class="message right">voici un message</div>
                    <div class="message right">voici un message</div>
                    <div class="message left">voici un message</div>
                    <div class="message left">voici un message</div>
                    <div class="message left">voici un message</div>
                    <div class="message right">voici un message</div>
                    <div class="message right">voici un long long long long long long long long long long long long long long messagelong long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long long </div>
                    <div class="message left">voici un message</div>
                    <div class="message left">voici un message</div>
                    <div class="message left">voici un message</div>
                    <div class="message right">voici un message</div>
                    <div class="message right">voici un message</div>
                    <div class="message left">voici un message</div>
                    <div class="message left">voici un message</div>
                    <div class="message left">voici un message</div>
                    <div class="message right">voici un message</div>
                    <div class="message right">voici un message</div>
                    <div class="message left">voici un message</div>
                </div>
            </div>


            <form id="add-message" action="">
                <div id="text-container">
                    <textarea name="text-message" id="text-message"></textarea>
                </div>
                
                <button type="submit" id="send-message">Envoyer</button>
                <div id="lines"></div>
            </form>
        </div>

    </div>
{% endblock %}


{% block javascripts %}

    {{ encore_entry_script_tags('messagerie_index') }}

{% endblock %}
